<footer class="country__footer">
  <% if (locals.currentTime) { %>
  <p>Where in the world? by Cédric CHARLESIA &copy; <%= locals.currentTime.format("YYYY") %></p>
  <% } %>
  <a href="#main__title" id="back_to_top" class="back_to_top">Back to top</a>
</footer>
<script src="/js/script.js"></script>
</body>
</html>