<%- include('./partials/header.ejs') %>
<h2 class="country__subtitle">Random countries:</h2>
<%- include('./partials/random.ejs') %>  
  <footer class="country__footer">
      <p>Where in the world? by Cédric CHARLESIA &copy <%= currentTime.format("YYYY") %></p>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>